@import "./../../../scss/variables";
@import "./../../../scss/colours";

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  margin-top: $xxlarge;
}

.error {
  width: 100%;
  text-align: center;
  font-size: 18px;
}

.country {
  width: 100%;
  height: 340px;
  background-color: $base-white;
  margin: 30px;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  border-radius: $xsmall;

  @media only screen and (min-width: 600px) {
    width: 270px; // Following mobile first approach
  }

  .flag {
    height: 50%;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    border-top-left-radius: $xsmall;
    border-top-right-radius: $xsmall;
  }
}

.informations {
  color: $base-black;
  margin: $medium;

  .name {
    margin-bottom: $medium;
  }
}
.find {
  display: flex;
  justify-content: space-between;
  flex-direction: column;

  @media only screen and (min-width: 600px) {
    flex-direction: row;
  }
  .search {
    margin-bottom: $medium;
  }
}
.search input,
.filter select {
  width: 300px;
  height: 50px;
  margin-left: 30px;
  border: 1px solid $base-white;
  border-radius: $xsmall;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
  &:focus-visible {
    outline: none;
  }
}
.filter {
  select {
    width: 200px;
    height: 50px;
  }
}
