@import "./../../../scss/variables";
@import "./../../../scss/colours";

header {
  padding: $large;
  background: $base-white;
  margin-bottom: $large;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
  font-weight: bold;
  width: 100%;
}
